<launch>
<!-- ============ Arguments ============ -->
  <!-- General -->
  <arg name="env_index" default="0"/> 
  <arg name="namespace" default="mapper"/> 
  <arg name="use_rio" default="false"/>
  <arg name="use_detectron" default="false"/>
  <arg name="visualize" default="true"/>
  
    
  <!-- Mapper -->
  <arg name="config" default="thor"/> <!-- <flat,rio>_<groundtruth,detectron>, single_tsdf -->
  <arg name="shutdown_when_finished" default="false"/> 
  
  <!-- Save/Load maps -->
  <arg name="load_map" default = "false"/>
  <arg name="load_file" default = "/home/lukas/Documents/PanopticMapping/Data/maps/flat/run1.panmap"/>


<!-- ============ Run ============ -->
  <!-- Mapper -->
  <node name="panoptic_mapper_$(arg env_index)" pkg="panoptic_mapping_ros" type="panoptic_mapper_node" output="screen" required="$(arg shutdown_when_finished)">
    <!-- Config -->
    <rosparam file="$(find panoptic_mapping_ros)/config/train/$(arg config)_$(arg env_index).yaml"/>
     
    <!-- Input -->
    <remap from="color_image_in" to="$(arg namespace)/color_image_$(arg env_index)"/>
    <remap from="depth_image_in" to="$(arg namespace)/depth_image_$(arg env_index)"/>
    <remap from="segmentation_image_in" to="$(arg namespace)/segmentation_image_$(arg env_index)"/>
    <remap from="labels_in" to="$(arg namespace)/segmentation_labels_$(arg env_index)"/>
  </node>  

    <!-- Output -->
    <remap from="reward" to="reward_$(arg env_index)"/>
</launch>
